<h1 class="titulo">Meus Serviços</h1>
<div id="container">
  <mat-card class="card-1">
    <img src="./assets/images/faxina.jpg">
    <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-2">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-3">
  <img src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-4">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-5">
  <img src="./assets/images/faxina.jpg">
  <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-6">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-7">
  <img src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<mat-card class="card-8">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
