<h1 class="titulo"></h1>
<mat-form-field class="barra" appearance="fill">
  <mat-label>Digite aqui</mat-label>
  <input matInput>
</mat-form-field>

<input class="search-bar" type="text">

<div id="container">
  <mat-card class="card-1">
    <img src="./assets/images/faxina.jpg">
    <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-2">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-3">
  <img src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>
 
</mat-card>
<mat-card class="card-4">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-5">
  <img src="./assets/images/faxina.jpg">
  <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-6">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>

</mat-card>
<mat-card class="card-7">
  <img src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-8">
  <img src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
</div>
