<h1 class="titulo"></h1>
<!-- 
<input matSuffix class="search-bar" type="text">
<mat-icon matPrefix class="search-icon" aria-hidden="false" >search</mat-icon> -->
<div class="filter-search-container">
  <mat-form-field class="search-bar" color="black">
    <mat-icon
      class="search-icon"
      matPrefix
      mat-icon-search
      >search</mat-icon>
    <input matInput />
  </mat-form-field>
  
  <button class="filter-btn">
    <div class="filter-btn-content">
      <div class="filter-btn-text">
        Filtrar por
      </div>
      <mat-icon>filter_list</mat-icon>
    </div>
  </button>
</div>

<div id="container">
  <mat-card class="card-1">
    <img style="max-width: 100%;" src="./assets/images/faxina.jpg">
    <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-2">
  <img style="max-width: 100%;" src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-3">
  <img style="max-width: 100%;" src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>
 
</mat-card>
<mat-card class="card-4">
  <img style="max-width: 100%;" src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-5">
  <img style="max-width: 100%;" src="./assets/images/faxina.jpg">
  <mat-card-content>
    <p>faxina
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-6">
  <img style="max-width: 100%;" src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>

  </mat-card-content>

</mat-card>
<mat-card class="card-7">
  <img style="max-width: 100%;" src="./assets/images/encanador.jpg">
  <mat-card-content>
    <p>encanador
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
<mat-card class="card-8">
  <img style="max-width: 100%;" src="./assets/images/montador.jpg">
  <mat-card-content>
    <p>montagem de móveis
    </p>
    <button class="botao1">59.99</button>
  </mat-card-content>
</mat-card>
</div>
