.sobre {
    background-color: #7E57C2;
    width: 800px;
    height: 500px;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 3%;
    
}

.texto {
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ;
    color: #b3b3b3;
}
