<h1 class="titulo"></h1>
<div id="container">
  
  
  
<mat-card class="example-card">
  <mat-card-content>
    <div class="text-center">
    <h1 class="titulo">FAXINA</h1>
    <br>
    <p>Faço limpezas de casas, apartamentos ou<br> salas comercias</p>
    <br>
    <p>Contato: (83) 99999-9999</p>
    </div>


<div class="container-image-all">
  <img class="container-image" mat-card-md-image src="./assets/images/faxina.jpg">
  <div class="container-images">
    <img class="container-images" src="./assets/images/faxina.jpg" alt="image 1">
    <img class="container-images" src="./assets/images/faxina.jpg" alt="image 2">
    <img class="container-images" src="./assets/images/faxina.jpg" alt="image 3">
  </div>
</div>


  </mat-card-content>
  <div class="container-button-group">
  <mat-card-footer>
    <mat-card-actions align="end">
      <button class="botao2">R$ 59.99</button>
    </mat-card-actions>

    
  </mat-card-footer>
</div>

<div mat-card-avatar class="footer-image-left">
  <p>Nome do prestador: Maria José do Nascimento</p>
  <p>Tempo de atividade: 10 meses</p>
  </div>


</mat-card>
</div>
