<mat-drawer-container class="example-container" *ngIf="!this.showLogin">
  <mat-drawer mode="side" opened >
    <div class="sidenav">
      <img height="30%" width="100%"  style="margin-bottom: -20px; max-width: 100%; max-height: 30%;" src="./assets/images/logo.png"/>
      <h3 class="sidenav-txt">Já tem uma conta?</h3>
    </div>
    <button mat-raised-button class="btn-entrar" (click)="this.changeLoginExibition()">Entrar</button>
  </mat-drawer>
  
  <div class="signup-content">
    <h1 class="conta-titulo"> Crie sua conta </h1>
  </div>
  <div class="signup-content" id="signup-form">
    <form action="" [formGroup]="signUpForm">
      <div class="inputs-container">
        <mat-form-field appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpf">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <div class="inputs-container">
        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput type="text" formControlName="birthDate">
          <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput type="text" formControlName="tel">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
      <div class="inputs-container">
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput type="text" formControlName="city">
          <mat-icon matSuffix>domain</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Rua</mat-label>
          <input matInput type="text" formControlName="neighborhood">
          <mat-icon matSuffix>streetview</mat-icon>
        </mat-form-field>
      </div>
      <div class="inputs-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="signUpForm.invalid" mat-raised-button class="btn-login" (click)="signUp()"
      >Cadastrar</button>
    </form>
  </div>

</mat-drawer-container>

<mat-drawer-container class="example-container" *ngIf="this.showLogin">
    <h1 class="login-titulo"> Login </h1>
    <mat-drawer class="sidenav" mode="side" opened >
      <div class="sidenav">
        <img height="30%" width="100%"  style="margin-bottom: -20px; max-width: 100%; max-height: 30%;" src="./assets/images/logo.png"/>
        <h3 class="sidenav-txt"> Olá, bem vindo de volta!</h3>
        <h5 class="sidenav-txt">Não tem uma conta?</h5>
        <button mat-raised-button class="btn-entrar" (click)="this.changeLoginExibition()">Cadastrar</button>
      </div>
    </mat-drawer>
    <form action="" [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="login-info" color="black">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. joao_pedro@gmail.com" value="" formControlName="email">
        <mat-icon matSuffix>mail_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-info" color="black">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="*****" value="" formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
      <button type="submit" [disabled]="loginForm.invalid" mat-raised-button class="btn-login" (click)="login()"
      >Entrar</button>
    </form>

</mat-drawer-container>



