.container-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;

  .card-wrapper {
    display: flex;
    width: 1050px;
    height: 500px;
    background-color: #7E57C2;
    justify-content: space-between;


    .inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 500px;
      height: 400px;
      margin: 20px;

      .inputs-row {
        display: flex;
        justify-content: space-between;
        width: 500px;
        height: 60px;

      }

      .buttons-row {
        display: flex;
        justify-content: space-between;
        width: 500px;
        height: 60px;

        .btn-wrapper {
          width: 173px;
          height: 20px;
        }
      }

      .input-wrapper {
        width: 300px;
        height: 20px;
      }

      input::placeholder {
        color: #b3b3b3;
    }
    }

    .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 350px;
      height: 450px;
      margin: 20px;
      border-radius: 10px;

      .choice-image {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 150px;

        .img-wrapper {
          width: 33%;
          height: 150px;
          cursor: pointer;
        }
      }

      img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 2px;
      }
    }
  }
}
